<form #form fxLayout="column" [formGroup]="todoForm">
    <mat-card>    
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="65" fxLayout="column" fxFill>
                <mat-form-field>
                    <input matInput formControlName="title" placeholder="Enter your todo title.">
                </mat-form-field>
            </div>
            <div fxFlex="3"></div>
            <button type="button" fxFlex mat-raised-button color="accent" (click)="AddTask()">New Task</button>
        </div>
    </mat-card>
    <mat-card class="mt-1 pt-0-5 pb-0-5" fxLayout="row">
        <input matInput readonly placeholder="Description">
        <input matInput readonly placeholder="Priority">
    </mat-card>
    <div formArrayName="tasks">
        <ng-container *ngFor="let item of taskFormArray.controls; let i = index;">
            <mat-card [formGroup]="item" class="mt-1 mb-1" fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field fxFlex="50">
                    <input matInput formControlName="description" placeholder="Enter description.">
                </mat-form-field>
                <div fxFlex="5"></div>
                <mat-radio-group fxFlex="45" formControlName="priority"> 
                    <mat-radio-button class="mr-1"value="Low">Low</mat-radio-button>
                    <mat-radio-button class="mr-1" value="Medium">Medium</mat-radio-button>
                    <mat-radio-button value="High">High</mat-radio-button>
                </mat-radio-group>
                <div fxFlex="3"></div>
                <button color="primary" mat-mini-fab (click)="RemoveTask(i)"><mat-icon>cancel</mat-icon></button>
            </mat-card>
        </ng-container>
    </div>
</form>
